<main class="main">
  <div class="inner">
    <div class="prototype__wrapper">
      <p class="prototype__hedding">
        <%= @prototype.title %>
      </p>
      <%= link_to "by #{@prototype.user.name}", user_path(@prototype.user), class: :prototype__user %>
      <% if user_signed_in? && current_user.id == @prototype.user.id %>
        <div class="prototype__manage">
          <%= link_to "編集する", edit_prototype_path(@prototype.id), class: :prototype__btn %>
          <%= link_to "削除する", prototype_path(@prototype.id), data: { turbo_method: :delete }, class: :prototype__btn %>
        </div>
      <% end %>
      <div class="prototype__image">
        <%= image_tag @prototype.image %>
      </div>
      <div class="prototype__body">
        <div class="prototype__detail">
          <p class="detail__title">キャッチコピー</p>
          <p class="detail__message">
            <%= @prototype.catch_copy %>
          </p>
        </div>
        <div class="prototype__detail">
          <p class="detail__title">コンセプト</p>
          <p class="detail__message">
            <%= @prototype.concept %>
          </p>
        </div>
      </div>

      <%= social_share_button_tag(@prototype.title, url: "https://twitter.com/intent/tweet?hashtags=narou%2CnarouN1007CC&original_referer=https%3A%2F%2Fncode.syosetu.com%2F&ref_src=twsrc%5Etfw%7Ctwcamp%5Ebuttonembed%7Ctwterm%5Eshare%7Ctwgr%5E&text=%E3%80%8C%E6%B2%A1%E8%90%BD%E4%BB%A4%E5%AC%A2%E3%81%AE%E7%95%B0%E5%9B%BD%E7%B5%90%E5%A9%9A%E9%8C%B2%E3%80%8D%E8%AA%AD%E3%82%93%E3%81%A0%EF%BC%81&url=https%3A%2F%2Fncode.syosetu.com%2Fn1007cc%2F") %>

      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
        <% if user_signed_in? %>
          <%= form_with model: [@prototype, @comment],local: true do |f|%>
            <div class="field">
              <%= f.label :contents, "コメント" %><br />
              <%= f.text_field :contents, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.contents %>
              <%= link_to comment.user.name, user_path(comment.user), class: :comment_user %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
